*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
   display: flex;
   justify-content:space-between;
   align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 20px;
}
.logo
{
    font-size: 1.5rem;
    font-weight: bold;

}
.nav-links
{
    
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links li{
    margin:0 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    align-items:center;
}
.actions a{
    margin-left:15px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    list-style: none;

}
@media (max-width:768px) {
  .nav-links {
    display: none;
  }
  .actions{
    font-size: 0.9rem; 
  }

}
@media(min-width:769px)and (max-width:1024px){
    .nav-links a{
        font-size:0.9rem;
    }
   
}
@media(min-width:1025px){
    .nav-links a{
        font-size:1rem;
    }
   
}