* {
    text-transform:capitalize;
}

.home {
    height: 80px;
    width: 100vw;
    background-color: rgba(252, 161, 14, 0.932);
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.home h2 {
    padding-top: 15px;
}

.box1 {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    margin-left: 400px;
    margin-top: 50px;
    display: inline;
}

.box2 {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin-left: 400px;
    display: inline;
  
}

.c1 {
    background-color: rgba(0, 247, 255, 0.881);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 25px;
}

a {
    text-decoration:none;
    color: black;
}

.c2 {
    background-color: rgb(137, 98, 188);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: 25px;
}

.txt {
    height: 38px;
    width: 10rem;
    margin-left: 15px;
    font-family: cursive;
    font-size: 1.2rem;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
}